streamlit
trubrics[streamlit]==1.6.0
streamlit-feedback
PyMuPDF==1.22.3
pdfplumber==0.8.0
pdf2image==1.16.2
zipp==3.12.0
transformers 
accelerate 
einops 
langchain 
xformers 
bitsandbytes 
faiss-gpu 
sentence_transformers 
pypdf
auto_gptq
replicate
bertopic
plotly
